/*CONFIGURACIONES GENERALES--------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

:root {
    font-size: 16px;
}

h1 {
    color: #1E1E1E;
    font-weight: 700;
    font-size: 3.75rem;
    text-shadow: 0px 2px 4px rgb(0,0,0,0.40);
}

h2 {
    color: #009246;
    font-size: 3rem;
    text-shadow: 0px 2px 4px rgb(0,0,0,0.40);
}

h3 {
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 0px 2px 4px rgb(0,0,0,0.40);
}

p {
    font-weight: 400;
    font-size: 1rem;
    color: #1E1E1E;
}

.parrafo-footer {
    font-weight: 200;
    font-size: 0.75rem;
    color: #ffffff;
}

/* CONFIGURACION HEADER GENERAL----------------------*/

.menu {
    display: flex;
    color: #ffffff;
    align-items: center;
    list-style-type: none;
}

.links {
    display: flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin: 0 2rem;
    text-shadow: 0px 2px 4px rgb(0,0,0,0.40);
}

.artesanal {
    text-align: left;
    font-weight: 700;
    max-width: 1rem;
    min-width: 8.5rem;
    margin: 1.25rem 2rem;
    text-shadow: 0px 2px 4px rgb(0,0,0,0.40);
}

.menu_item.active a,
.menu_item a:hover {
    text-decoration: underline;
}

.menu_item:hover {
    scale: 1.1;
}

.logo {
    margin: 0 0.625rem;
    min-width: 6.25rem;
}

.titulo-header {
    color: #ffffff;
    position: absolute;
    margin: 0 3rem;
    top: 75%;
}

/* CONFIGURACION FOOOTER GENERAL---------------------------*/

footer {
    background-color: #1E1E1E;
    position: relative;
    color: #ffffff;
    padding-top: 2rem;
}

.footer-columnas {
    padding: 1rem 4rem;
    display: flex;
    gap: 2rem;
}

.logo-footer,
.sobre-nosotros,
.ubicacion-mapa {
    flex: 1;
}

/* CONFIGURACION FOOOTER COLUMNA 1---------------------------*/

.logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desde,
.helado-artesanal {
    font-weight: 700;
    text-shadow: 0px 2px 4px rgb(0,0,0,0.40);
}

.img-logofooter {
    width: 32%;
    margin-bottom: 1rem;
}

/* CONFIGURACION FOOOTER COLUMNA 2---------------------------*/

.sobre-nosotros {
    display: flex;
    flex-direction: column;
}

.nosotros-footer {
    margin-bottom: 0.5rem;
}

/* CONFIGURACION FOOOTER COLUMNA 3---------------------------*/

.ubicacion-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

iframe {
    width: 16.5rem;
    height: 12rem;
    border-radius: 20px;
}

.parrafo-footer.direccion {
    padding-inline: 2.2rem;
}

/* CONFIGURACION FOOOTER REDES---------------------------*/

.botones-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.botones-redes a:hover {
    scale: 1.1;
}

.boton-instagram,
.boton-facebook,
.boton-pedidosya {
    margin-inline: 0.2rem;
    margin-bottom: 1rem;
    width: 1.8rem;
}

.imagen-instagram,
.imagen-facebook,
.imagen-peya {
    border-radius: 6px;
}

.powered {
    position: absolute;
    top: 100%;
    background-color: #009246;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

/* BOTON WPP ------------------------------------------------*/

.wpp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
}

.wpp:hover {
    scale: 1.1;
}

/* FIN CONFIGURACIONES GENERALES-------------------------*/

/* INDEX ------------------------------------------------*/

/*INDEX-HEADER-------------------------------------------*/

.header-index {
    background-image: url("../img/PORTADAS/portada-header-index.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/*INDEX MAIN SECTION 1  -------------------------------------------*/

.index-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 4rem;
}

.helados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.boton-ver {
    text-decoration: none;
    color: #009246;
    background-color: #ffffff;
    border: 2px solid #009246;
    padding: 0.3rem;
    border-radius: 20px;
    width: 6rem;
    font-weight: 700;
    text-align: center;
}

.helados a:hover {
    scale: 1.05;
}

.boton-ver:hover {
    background-color:#009246;
    color: #ffffff;
}


/*INDEX MAIN SECTION 2  -------------------------------------------*/

.index-section-2 {
    background-image: url(../img/PORTADAS/portada-sect-2.png);
    min-height: 70vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

/*INDEX MAIN SECTION 3  -------------------------------------------*/

.index-section-3 {
    position: relative;
    align-items: center;
}

.bandera-top {
    position: absolute;
    bottom: 100%;
    max-height: 1.5%;
    width: 100%;
}

.productos {
    margin-left: 3rem;
    padding-top: 1rem;
}

.productos-tipos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline: 4rem;
}

.shakes,
.bombones,
.postres-helados {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.shakes a,
.bombones a,
.postres-helados a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #1E1E1E;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.shakes a:hover { 
    scale: 1.05;
}

.bombones a:hover { 
    scale: 1.05;
}

.postres-helados a:hover { 
    scale: 1.05;
}

.img-shakes,
.img-bombones,
.img-postres {
    border-radius: 20px;
}

.shakes,
.postres-helados {
    margin-top: 5rem;
}

.boton-productos { 
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.bandera-bottom {
    position: absolute;
    top: 99%;
    max-height: 1.5%;
    width: 100%;
}

/*INDEX MAIN SECTION 4  -------------------------------------------*/

.index-section-4 {
    background-image: url(../img/delivery/auguri-delivery-index.png);
    min-height: 80vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.te-lo-llevamos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery,
.llevamos {
    font-size: 4.75rem;
}

.delivery {
    margin-bottom: -3rem;
}
.llevamos {
    margin-bottom: -1.5rem;
}

.botones-delivery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.boton-peya {
    background-image: url(../img/redes/pedidosya.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid #ff2a40;
    border-radius: 20px;
    min-width: 10rem;
    min-height: 2.5rem;
}

.boton-delivery-propio {
    text-decoration: none;
    color: #009246;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #009246;
    padding: 0.5rem;
    border-radius: 20px;
    width: 10rem;
    font-weight: 800;
}

.botones-delivery a:hover {
    scale: 1.05;
}




/*NOSOTROS-----------------------------------------------*/

/*NOSOTROS-HEADER----------------------------------------*/

.header-nosotros {
    background-image: url("../img/PORTADAS/portada-nosotros.jpg");
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.nosotros-section-1 {
    display: flex;
    flex-direction: row;
    margin-inline: 3rem;
    margin-block: 3rem;
}

.nosotros-titulo {
    line-height: 3rem;
}

.texto-nosotros,
.imagen-nosotros {
    width: 50%;
}

.parrafo-nosotros {
    margin-block: 2rem;
    margin-right: 3rem;
}

.imagen-nosotros{
    display: flex;
    justify-content: center;
}

.img-nosotros {
    border-radius: 30px;
    width: 80%;
}









/*SABORES------------------------------------------------*/
/*SABORES-HEADER-----------------------------------------*/

.header-sabores {
    background-image: url("../img/PORTADAS/portada-sabores.jpg");
    min-height: 60vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}






/*PRODUCTOS----------------------------------------------*/
/*PRODUCTOS-HEADER---------------------------------------*/

.header-productos {
    background-image: url("../img/PORTADAS/portada-productos.jpg");
    min-height: 60vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}





/*DELIVERY-----------------------------------------------*/
/*DELIVERY-HEADER----------------------------------------*/

.header-delivery {
    background-image: url("../img/PORTADAS/portada-delivery.jpg");
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}




