.header-delivery {
    background-image: url("../img/PORTADAS/portada-delivery.jpg");
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*DELIVERY MAIN SECTION 1  -------------------------------------------*/

.delivery-section-1 {
    padding-block: 2rem;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delivery-imagenes {
    --g: 8px;   /* the gap */
    --s: 400px; /* the size */
  
    display: grid;
    border-radius: 50%;
    padding-block: 2rem;
}   

.delivery-imagenes > img {
    @include animaciones-delivery-imagenes;
} 